/* index.css is used for global styles; typography, global resets, and body margins */

/* kept for learning reference purposes only */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #e7e7e7;

  width: 100vw;
  min-height: 100vh;
  background: rgb(44, 0, 145);
  background: linear-gradient(
    0deg,
    rgba(44, 0, 145, 1) 0%,
    rgba(9, 34, 121, 1) 36%,
    rgba(158, 151, 255, 1) 100%
  );
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
